<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      {{#link-to "frontscore" class="navbar-brand"}}Front-score{{/link-to}}
    </div>
    <ul class="nav navbar-nav">
      {{#link-to "libraries" tagName="li" disabledClass="link-parent" disabled=true}}
        {{#link-to "libraries" (query-params skip="0") }}Libraries{{/link-to}}
      {{/link-to}}
      {{#link-to "scripts" tagName="li" disabledClass="link-parent" disabled=true}}
        {{#link-to "scripts" (query-params skip="0")}}Scripts{{/link-to}}
      {{/link-to}}
      {{#link-to "sites" tagName="li" disabledClass="link-parent" disabled=true}}
        {{#link-to "sites" (query-params skip="0")}}Sites{{/link-to}}
      {{/link-to}}
    </ul>
  </div>
</nav>

<div class="container-fluid">
  <div class="panel panel-default" id="main-panel">
      {{outlet}}
  </div>
</div>
