<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      {{#link-to "frontscore" class="navbar-brand"}}Front-score{{/link-to}}
    </div>
    <ul class="nav navbar-nav">
      {{#link-to "libraries" tagName="li"}}
        {{#link-to "libraries"}}Libraries{{/link-to}}
      {{/link-to}}
      {{#link-to "scripts" tagName="li"}}
        {{#link-to "scripts"}}Scripts{{/link-to}}
      {{/link-to}}
      {{#link-to "sites" tagName="li"}}
        {{#link-to "sites"}}Sites{{/link-to}}
      {{/link-to}}
    </ul>
  </div>
</nav>

<div class="container-fluid">
  <div class="panel panel-default" id="main-panel">
      {{outlet}}
  </div>
</div>
