<div class="panel-body">
  <p class="text-center col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3">
    <b>Front-score</b> is an application that provides a simple frontend to the <a href="https://medium.com/@Shapiro/introducing-libscore-com-be93165fa497" target="_blank">Libscore</a> API.
  </p>
  <p class="text-center col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3">
    This application is built using the <a href="http://emberjs.com/">EmberJS</a> framework.<br>
    Also, <a href="http://www.ember-cli.com/">ember-cli</a> is used for project management and scaffolding.
  </p><br>
  <p class="text-center col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3">
    Copyright &copy; 2014-2015, John Varouhakis.<br><br>
    This application is published under the terms of the
    MIT License and you can obtain it's source code
    <a href="https://github.com/iovar/experiments">in this git repository, under <b>javascript/front-score</b></a>.
  </p>
</div>
