.input-container {
  position: relative;
  top: 0;
  z-index: 2;
  width: 100%;
  border-bottom: 4px solid rgba(0,0,0,0.8);
  &:before {
    position : absolute;
    top: 0;
    top: 4px;
    left: 0;
    left: 8px;
    content: 'todo:';
    font-weight: bold;
    font-size: 24px;
  }
  input {
    display: block;
    box-sizing: border-box;
    padding: 4px;
    padding-left: 68px;
    width: 100%;
    font-size: 24px;
  }
}
