html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.main-container {
  width: 100%;
  height: 100%;
  text-align: center;
}

.disk {
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  width: 100vmin;
  height: 100vmin;
}

.circle {
  position: absolute;
  top: 0;
  box-sizing: border-box;
  border: 2px solid white;
  border-radius: 1000px;
  background-color: brown;
  color: gold;
  text-shadow: 0 0 55px gold, 0 0 4px black;
  font-weight: 700;
  transition-duration: 1s;;
}

.circle span {
  position: absolute;
  left: 50%;
  display: block;
  margin-left: -10px;
  width: 20px;
  height: 100%;
  font-size: 18px;
  line-height: 15px;
  transform-origin: 50%;
}

.circle span:nth-of-type(1) {
  -webkit-transform: rotate3d(0,0,1,36deg);
}
.circle span:nth-of-type(2) {
  -webkit-transform: rotate3d(0,0,1,72deg);
}
.circle span:nth-of-type(3) {
  -webkit-transform: rotate3d(0,0,1,108deg);
}
.circle span:nth-of-type(4) {
  -webkit-transform: rotate3d(0,0,1,144deg);
}
.circle span:nth-of-type(5) {
  -webkit-transform: rotate3d(0,0,1,180deg);
}
.circle span:nth-of-type(6) {
  -webkit-transform: rotate3d(0,0,1,216deg);
}
.circle span:nth-of-type(7) {
  -webkit-transform: rotate3d(0,0,1,252deg);
}
.circle span:nth-of-type(8) {
  -webkit-transform: rotate3d(0,0,1,288deg);
}
.circle span:nth-of-type(9) {
  -webkit-transform: rotate3d(0,0,1,324deg);
}

.circle-1 {
  top: 40vmin;
  left: 40vmin;
  width: 20vmin;
  height: 20vmin;
}

.circle-2 {
  top: 36.25vmin;
  left: 36.25vmin;
  width: 27.5vmin;
  height: 27.5vmin;
}

.circle-3 {
  top: 32.5vmin;
  left: 32.5vmin;
  width: 35vmin;
  height: 35vmin;
}

.circle-4 {
  top: 28.75vmin;
  left: 28.75vmin;
  width: 42.5vmin;
  height: 42.5vmin;
}

.circle-5 {
  top: 25vmin;
  left: 25vmin;
  width: 50vmin;
  height: 50vmin;
}

.circle-6 {
  top: 21.25vmin;
  left: 21.25vmin;
  width: 57.5vmin;
  height: 57.5vmin;
}

.circle-7 {
  top: 17.5vmin;
  left: 17.5vmin;
  width: 65vmin;
  height: 65vmin;
}

.circle-8 {
  top: 13.75vmin;
  left: 13.75vmin;
  width: 72.5vmin;
  height: 72.5vmin;
}

.circle-9 {
  top: 10vmin;
  left: 10vmin;
  width: 80vmin;
  height: 80vmin;
}

.circle-0 {
  top: 6.25vmin;
  left: 6.25vmin;
  width: 87.5vmin;
  height: 87.5vmin;
}


.circle-0:hover  {
  background: green;
  transform: rotate3d(0,0,1,180deg);
}
.circle-9:hover  {
  background: green;
  transform: rotate3d(0,0,1,150deg);
}
.circle-8:hover  {
  background: green;
  transform: rotate3d(0,0,1,120deg);
}
.circle-7:hover  {
  background: green;
  transform: rotate3d(0,0,1,90deg);
}
.circle-6:hover  {
  background: green;
  transform: rotate3d(0,0,1,60deg);
}
.circle-5:hover  {
  background: green;
  transform: rotate3d(0,0,1,30deg);
}
.circle-4:hover  {
  background: green;
  transform: rotate3d(0,0,1,0deg);
}
.circle-3:hover  {
  background: green;
  transform: rotate3d(0,0,1,30deg);
}
.circle-2:hover  {
  background: green;
  transform: rotate3d(0,0,1,60deg);
}
.circle-1:hover  {
  background: green;
  transform: rotate3d(0,0,1,90deg);
}
